<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Hard Hat Academy!</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <h1>Welcome to Hard Hat Academy!</h1>
    <a href="/users/register">Register</a>
    <a href="/users/login">Log In</a>
    <a href="users/logout">Log Out</a>
    <h2>Browse through our video list and find your passion!</h2>
   
    <h3>We Are the MasterClass for Good Paying Blue Collar Jobs!</h3>
        
    <h4>Hard Hat Academy is the app that helps people looking for good paying blue collar
        jobs find one that matches their talents and interests
    </h4>
    <br> 
    <h3>Choose an Occupation<h3>
    <h3>Watch a video from one of our experts</h3>
    <h3>Learn learn more about the occupation, what it pays and how you can get in on it!</h3>

        <ul class="occupations">
        <%for (let i = 0; i < Object.keys(occupations).length; i++) {%>
            <li>
                <%console.log(occupations[i].title) %>
                <a href='/explore/<%= occupations[i]._id %>' ><%= occupations[i].title %></a>
            </li>      
      <%  } %>
        </ul> 
    <p>
        <a href="/getnewoccupationform">Create Occupation</a> 
    </p>

    <%if(loggedIn === false){%>       
        <h6>Admin Login</h6>
        <form action='/authenticate' method='POST'>
            <div>
                <label>Username:
                    <input type="text" name="username" required="true">
                </label><br/>
            </div>
            <div>
                <label>Password:
                    <input type="password" name="password" required="true">
                </label><br/>
            </div>
            <div>
                <button>Submit</button>
            </div> 
        </form>
    <%}else{%>
        <br>
        <p>
            <a href="/logout">Logout</a> 
        </p>
    <%}%>    
</body>
</html>