<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Hard Hat Academy!</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <h1>Welcome to Hard Hat Academy!</h1>
    <%if(userLoggedIn === false){%>
        <a href="/users/register">Register</a>
        <a href="/users/login">Log In</a>
    <%}else{%>
        <a href="/users/logout">Log Out</a>
        <a href="/users/showprofile">View Profile</a>
        <a href="/users/showqueue">View Your Saved Videos</a>
    <%}%>
    <h3>We Are the MasterClass for Good Paying Blue Collar Jobs!</h3>
    <h2>Watch our videos and find your passion!</h2>
   
    <div class="appdescription">
            Find good paying blue collar jobs that match your talents and interests 
            <br>
            <br>
            Click on a video and an expert craftsman will walk you through the job
            <br>
            <br>
            Find out how much you can earn and how to get started!
    </div>

        <ul class="occupations">
        <%for (let i = 0; i < Object.keys(occupations).length; i++) {%>
            <li>
                <%console.log(occupations[i].title) %>
                <a href='/explore/<%= occupations[i]._id %>' ><%= occupations[i].title %></a>
            </li>      
      <%  } %>
        </ul> 
    <p>
        <a href="/getnewoccupationform">Create Occupation</a> 
    </p>

    <%if(loggedIn === false){%>       
        <h6>Admin Login</h6>
        <form action='/authenticate' method='POST'>
            <div>
                <label>Username:
                    <input type="text" name="username" required="true">
                </label><br/>
            </div>
            <div>
                <label>Password:
                    <input type="password" name="password" required="true">
                </label><br/>
            </div>
            <div>
                <button>Submit</button>
            </div> 
        </form>
    <%}else{%>
        <br>
        <p>
            <a href="/logout">Logout</a> 
        </p>
    <%}%>    
</body>
</html>