<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Occupation</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <h1>Create New Occupation</h1>
    <form action='/createoccupation' method='POST'>
        <div>
            <label>Title:
                <input type="text" name="title" required="true">
            </label><br/>
        </div>    
        <div>
            <label>Description:
                <input type="text" name="description" required="true">
            </label><br/>
        </div>
        <div>
            <label>Training:
                <input type="text" name="training" required="true">
            </label><br/>
        </div>
        <div>
            <label>Wage:
                <input type="text" name="wage" required="true">
            </label><br/>
        </div>
        <div>
            <label>VideoUrl:
                <input type="text" name="videourl" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertName:
                <input type="text" name="name" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertOccupation:
                <input type="text" name="occupation" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertProfile:
                <input type="text" name="profile" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertPictureUrl:
                <input type="text" name="pictureurl" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertEmail:
                <input type="text" name="email" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertPhone:
                <input type="text" name="phone" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertZipCode:
                <input type="text" name="zipcode" required="true">
            </label><br/>
        </div>
        <div>
            <label>ExpertState:
                <input type="text" name="state" required="true">
            </label><br/>
        </div>
        <button> Submit </button>   
    </form>
    
    
</body>
</html>