<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <h2>Register a New User</h2>
    <form action="/register" method="POST">
        <fieldset>
            <label for="name">Name:</label>
            <input type="text"name="name" id="name">
        </fieldset> 
        <fieldset>
            <label for="username">Username:</label>
            <input type="text"name="username" id="username">
        </fieldset> 
        <fieldset>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </fieldset>
        <fieldset>
           <label for="verifyPassword">Verify Password</label> 
            <input type="password" name="verifyPassword" id="verifyPassword">
        </fieldset>
        <fieldset>
            <label for="email">Email</label> 
             <input type="email" name="email" id="email">
         </fieldset>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>
